<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h3><%= current_user.first_name.capitalize %>'s Profile</h3>
      <br>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
          <li role="presentation"><a href="#incoming" aria-controls="incoming" role="tab" data-toggle="tab">Incoming Requests</a></li>
          <li role="presentation"><a href="#outgoing" aria-controls="outgoing" role="tab" data-toggle="tab">Outgoing Requests</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="home">
            <div class="container">
              <div class="row">
                <% @offers.each do |offer| %>
                <% if current_user == offer.owner %>

                    <div class="col-xs-12 col-sm-4">
                    <br>
                      <p class="offer-details">
                       <strong><%="#{offer.city}" %></strong>
                      </p>
                      <p class="offer-details">
                        <%="#{offer.price}" %> DKK day
                      </p>
                      <p class="offer-details">
                        <%="#{offer.title}" %>
                      </p>
                      <br>
                      <br>
                      <p><%= link_to "Edit profile", edit_offer_path(offer) %></p>
                      <p><%= link_to "Delete your profile", offer_path(offer), method: :delete %></p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                    <br>
                      <%= link_to offer_path(offer) do %>
                        <div class="crop crop_profile">
                          <%= cl_image_tag d_offer_photo_path(offer), class: "box-images" %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="outgoing">
            <br>
            <% @user_matches.each do |match| %>
              <div class="row">
                <div class="col-xs-8 col-sm-6">
                  <!-- Works for users, not offers -->
                  <p>You requested to be RentFriends with <strong><%= match.offer.owner.first_name %></strong></p>

                  <br>
                  <div class="waiting">
                  <% if match.status == "pending" %>
                    <p><strong>Waiting for confirmation</strong></p>
                  </div>
                  <div class="congratulations">
                  <% elsif match.status == "accepted" %>
                    <p><strong>Congratulations! Your request was accepted</strong></p>
                  <% end %>
                  </div>

                  <p><strong>Start Date:</strong> <%= match.start_date %></p>
                  <p><strong>End Date:</strong> <%= match.end_date %></p>
                </div>
                <div class="col-xs-8 col-sm-6">
                  <div class="crop_pic">
                    <%= cl_image_tag offer_photo_path(match.offer), class: "box-images" %>
                  </div>
                </div>
              </div>
              <hr>

            <% end %>
          </div>

          <div role="tabpanel" class="tab-pane" id="incoming">
            <br>
            <div class="row">
            <% @offer_matches.each do |m| %>
              <% if m.status == "pending" %>

                  <div class="col-xs-8 col-sm-6">
                    <p><strong><%= m.user.first_name %></strong> requested to be RentFriends with you</p>
                    <p><strong>Start Date:</strong> <%= m.start_date %></p>
                    <p><strong>End Date:</strong> <%= m.end_date %></p>
                    <br>
                  </div>

                  <div class="col-xs-8 col-sm-6">
                    <div class="btn_accept_reject">
                      <%= link_to match_accept_path(m) do %>
                    <p><button type="submit" class="btn btn-default btn-small">Accept</button>
                    <% end %>
                    <%= link_to offer_match_path(m.offer, m), method: :delete do %>
                    <button type="submit" class="btn btn-default btn-small">Reject</button></p>
                    <% end %>
                    </div>
                  </div>
              <% end %>

                    <div class="col-xs-8 col-sm-6">
                      <% if m.status == "accepted" %>
                        <p>You are now friends with <strong><%= m.user.first_name %></strong></p>
                        <p>Start Date: <%= m.start_date %></p>
                        <p>End Date: <%= m.end_date %></p>
                    </div>

                    <div class="col-xs-8 col-sm-6">
                      <div class="btn_accept_reject">
                        <%= link_to offer_match_path(m.offer, m), method: :delete do %>
                          <button type="submit" class="btn btn-default btn-small">Change your mind</button></p>
                        <% end %>
                      </div>
                      <% end %>
                   </div>
                <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>









