<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h2><%= current_user.first_name.capitalize %>'s Profile</h2>
      <br>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
          <li role="presentation"><a href="#incoming" aria-controls="incoming" role="tab" data-toggle="tab">Incoming Requests</a></li>
          <li role="presentation"><a href="#outgoing" aria-controls="outgoing" role="tab" data-toggle="tab">Outgoing Requests</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">

          <div class="container">
            <div class="row">
              <% @offers.each do |offer| %>
              <% if current_user == offer.owner %>
                <div class="col-xs-12 col-sm-4">
                <%= link_to offer_path(offer) do %>
                  <div class="crop">
                    <%= cl_image_tag d_offer_photo_path(offer), class: "box-images" %>
                  </div>
                <% end %>
                <br>
                    <%= link_to "Edit", edit_offer_path(offer) %>
                    <%= link_to "Delete", offer_path(offer), method: :delete %>
                  <p class="offer-details">
                   <strong><%="#{offer.city}" %></strong>
                  </p>
                  <p class="offer-details">
                    <%="#{offer.price}" %> DKK day
                  </p>
                  <p class="offer-details">
                    <%="#{offer.title}" %>
                  </p>
                <br>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>

          </div>

          <div role="tabpanel" class="tab-pane" id="outgoing">
            <br>
            <% @user_matches.each do |match| %>
            <div class="row">
              <div class="col-xs-8 col-sm-6">
                <!-- Works for users, not offers -->

                <p>You requested to be RentFriends with <strong><%= match.offer.owner.first_name %></strong></p>
                <p><%= match.offer.title %></p>
                <% if match.status == "pending" %>
                  <p><strong>Waiting for confirmation</strong></p>
                <% elsif match.status == "accepted" %>
                  <p><strong>Congratulations! Your request was accepted</strong></p>
                <% end %>

                <p>Start Date: <%= match.start_date %></p>
                <p>End Date: <%= match.end_date %></p>
              </div>
              <div class="col-xs-8 col-sm-6">
                <div class="crop_pic">
                  <%= cl_image_tag offer_photo_path(match.offer), class: "box-images" %>
                </div>
              </div>
            </div>
            <hr>
            <% end %>

          </div>

          <div role="tabpanel" class="tab-pane" id="incoming">
            <br>
            <% @offer_matches.each do |m| %>
            <% if m.status == "pending" %>
              <div class="row">
                <div class="col-xs-8 col-sm-6">
                  <p><strong><%= m.user.first_name %></strong> requested to be RentFriends with you</p>
                  <p>Start Date: <%= m.start_date %></p>
                  <p>End Date: <%= m.end_date %></p>
                  <p>See <strong><%= m.user.first_name %>'s</strong> <button type="submit" class="btn btn-default btn-small">Profile</button></p>
                  <%= link_to match_accept_path(m) do %>
                  <p><button type="submit" class="btn btn-default btn-small">Accept</button>
                  <% end %>
                  <%= link_to offer_match_path(m.offer, m), method: :delete do %>
                  <button type="submit" class="btn btn-default btn-small">Reject</button></p>
                  <% end %>
                </div>
                <div class="col-xs-8 col-sm-6">
                  <div class="crop_pic">
                    pic of requesting user
                  </div>
                </div>
                <hr>
              </div>
            <% end %>
            <% if m.status == "accepted" %>
              <p>You are now friends with <strong><%= m.user.first_name %></strong></p>
                  <p>Start Date: <%= m.start_date %></p>
                  <p>End Date: <%= m.end_date %></p>
            <% end %>
            <hr>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>

