<br>
<br>
<div class="headline_home">

  <h1>
    <strong>Unforgettable experience start here.</strong>
  </h1>
  <h2>
    Book unique experiences and get new friends all over the world.
  </h2>
</div>
<%= render "shared/searchbar" %>

 <div class="container home-container">
    <div class="row">
      <div>
        <% @offers.each do |offer| %>
          <div class="col-xs-12 col-sm-4">
          <%= link_to offer_path(offer) do %>
            <div class="crop">
              <%= cl_image_tag offer_photo_path(offer), class: "box-images"%>
            </div>
          <% end %>
          <br>
          <% if user_signed_in? %>
        <%= link_to "Edit", edit_offer_path(offer) %>
        <%= link_to "Delete", offer_path(offer), method: :delete %>
          <p class="offer-details">
           <strong><%="#{offer.city}" %></strong>
          </p>
          <p class="offer-details">
           <%="#{offer.price}" %> DKK day
          </p>
          <p class="offer-details">
            <%="#{offer.title}" %>
          </p>
          <% else %>
          <p class="offer-details">
           <strong><%="#{offer.city}" %></strong>
          </p>
          <p class="offer-details">
           <%="#{offer.price}" %> DKK day
          </p>
          <p class="offer-details">
            <%="#{offer.title}" %>
          <% end %>
          <br>
          </div>
        <% end %>
      </div>
    </div>
  </div>
