<br>

  <div class="container">
    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-xs-12 col-sm-4">
        <%= link_to offer_path(offer) do %>
          <div class="crop">
            <%= cl_image_tag offer_photo_path(offer), class: "box-images" %>
          </div>
        <% end %>
        <br>
        <%= link_to "Edit", edit_offer_path(offer) %>
        <%= link_to "Delete", offer_path(offer), method: :delete %>
          <p class="offer-details">
           <strong><%="#{offer.city}" %></strong>
          </p>
          <p class="offer-details">
            <%="#{offer.price}" %> DKK day
          </p>
        <br>
        </div>
      <% end %>
    </div>
  </div>
<br>

