
<% if @offer.photo? %>
  <div class="banner" style="background-image: url('<%= cl_image_path @offer.photo.path, crop: :fill %>');">
  </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h3><%= @offer.first_name.capitalize %> | <%= @offer.city %></h3>
      <hr>
      <h2>About the Friend </h2>
      <p><%= @offer.gender.capitalize %> | <%= @offer.age %> years old</p>
      <hr>
      <h3><%= @offer.title %></h3>
      <p><%= @offer.description %></p>
      <br>
      <br>
    </div>
    <div class="right col-xs-6 col-md-4">
      <h2><%= @offer.price %>kr DKK day </h2>
      <%= render 'shared/match_form' %>
    </div>
  </div>
</div>




