
<% if @offer.photo? %>
  <div class="banner" style="background-image: url('<%= cl_image_path @offer.photo.path, crop: :fill %>');">
  </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h3><%= @offer.city %></h3>
      <h2>About the Friend </h2>
      <h1><%= @offer.title %></h1>
      <p><%= @offer.description %></p>

      <button type="button" class="btn btn-info"><%= link_to "See all RentFriends", offers_path(@offer) %></button>
    </div>
    <div class="col-xs-6 col-md-4">
      <h2>DKK <%= @offer.price %> kr. per day </h2>
      <%= render 'shared/match_form' %>
    </div>
  </div>
</div>


