
<% if @offer.photo? %>
  <div class="banner" style="background-image: url('<%= cl_image_path @offer.photo.path, crop: :fill %>');">
  </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h3><%= @offer.owner.first_name.capitalize %> | <%= @offer.city %></h3>
      <hr>
      <h2>About the Friend</h2>
      <p><%= @offer.owner.gender.capitalize %> | <%= @offer.owner.age %> years old</p>
      <hr>
      <h3><%= @offer.title.capitalize %></h3>
      <p><%= @offer.description %></p>
      <br>
      <br>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="align-right">
        <h2><%= @offer.price %> DKK day </h2>
        <% if !@current_user_renting %>
          <%= render 'shared/match_form' %>
        <% else %>
          <p> You requested to book <%= @offer.title %> from <%= @offer.matches.find_by(user: current_user.id).start_date %> to <%= @offer.matches.find_by(user: current_user.id).end_date %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>




