
<% if @offer.photo? %>
  <div class="banner" style="background-image: url('<%= cl_image_path @offer.photo.path, crop: :fill %>');">
  </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h3><%= @offer.owner.first_name.capitalize %> | <%= @offer.city %></h3>
      <hr>
      <h2>About the Friend</h2>
      <p><%= @offer.owner.gender.capitalize %> | <%= @offer.owner.age %> years old</p>
      <hr>
      <h3 class="blacky"><%= @offer.title.capitalize %></h3>
      <p><%= @offer.description %></p>
      <br>
      <h3>My rules</h3>
       <p><%= @offer.rules %></p>
      <br>
      <br>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="align-right">
        <h2><%= @offer.price %> DKK day </h2>
        <hr>
        <% if !@current_user_renting %>
          <%= render 'shared/match_form' %>
        <% else %>
          <p> You requested to book <strong><%= @offer.owner.first_name %></strong> from <%= @offer.matches.find_by(user: current_user.id).start_date %> to <%= @offer.matches.find_by(user: current_user.id).end_date %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 600px;">


<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>
</div>
